<!DOCTYPE html>

<html>
    <head>
        <title>Students</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" 
                integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <style>

        </style>
    </head>

    <body class="bg-light">
        <div id='box' class="col-md-6">
            {{{body}}}
        </div>
    </body>
</html>